--extra-index-url https://download.pytorch.org/whl/cpu

flask
gunicorn
ultralytics>=8.2.0
opencv-python-headless
numpy==2.3.4

# CPU wheels from PyTorch index
torch==2.4.1+cpu
torchvision==0.19.1+cpu
